body {
	background: #000;
	color: #DDD;
	font-family: Arial, Helvetica, Sans-serif;
}
	div.server_status {
		display: table;
		width: 100%;
	}
	span.server_status {
		font-weight: bold;
	}
	.server_online {
		
		color: #0A0;
	}
	a.link:link, a.link:visited {
		color: #0AA;
		text-decoration: none;
		font-weight:bold;
		margin-left: 1em;
		margin-bottom: 1em;
		display: block;
		background: #333;
		border: 1px solid #ECECEC;
		width: 100px;
		text-align:center;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
	}
	a.link:hover, a.link:active {
		color: #0EE;
		background: #555;
	}